// HEADER
$color-header-light: #FDC1CD;
$color-header-dark: #DC55C5;


// FONT
$color-grey-dark: black;
$color-light: #fff;


// SIZE
$font-large: 3.5rem;
$font-medium: 3rem;
$font-small: 1.7rem;

$font-weight-heavy: 700;
$font-weight-light: 400;